
section{
  margin: 15px;
  text-align: center;
  width: 1100px;
  min-height: 500px;
  background-color: #fff;
  padding: 10px;
  height: 100%;
}
.text{
  width: 40%;
  height: 70px;
  border: 1px solid;
  margin: 5px;
  padding-left: 10px;
  font-weight: 600;
  text-align: left;
}
.file{
  width: 40%;
  height: 70px;
  border: 1px solid;
  margin-left: 30%;
  font-weight: 600;
  text-align: left;
}
.btn-add{
  width: 41%;
  height: 70px;
  border: none;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

.btn-add:hover{
  background-color: transparent;
  border: 1px solid;
  color: #000;
}

h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  height: 48px;
  margin: 32px 0 32px 0;
  box-sizing: border-box;
}
.help{
  width: 40%;
  height: 30px;
  margin-left: 30%;
  font-weight: 400;
  text-align: left;
  color: red;
  background-color: rgba(255, 159, 159, 0.3);
}



