
.material-icons{
  padding: 0 14px;
  color: #00eb9d;
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color: #fff;
  color: #595e6f;
  box-shadow: 0px 0px 40px #bebfc7;
  position: fixed;
  z-index: 200;

}
.mat-icon-button{
  margin-right: 15px;
}
.name{
  font-weight: 200;
}
img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
