div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

mat-card{
  width: 80%;
  height: 60px;
  padding: inherit;
  margin-bottom: 50px;
}
span{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  word-spacing: 0px;
  color: #192038;
}
.delete{
  background-color: #ff3d71;
  width: 100px;
  margin-bottom: 5px;
  color: #fff;

}
.edit{
  background-color: #00D68F;
  width: 100px;
  color: #fff;

}

.test{
  margin: 5px;
  height: 96px;
  width: 500px;
  border: 0px solid #fff;
  display: flex;
  outline: rgb(255, 0, 0);
  box-sizing: border-box;
  background-color: #fff;
}

.a{
  height: 96px;
  width: 112px;
  padding: 10px 10px 10px 10px;
  display: block;
  line-height: 20px;
  box-sizing: border-box;
}
.b{
  height: 96px;
  width: 255px;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  text-align: left;

}

.c{
  height: 96px;
  width: 130px;
  padding: 10px;
  display: block;
  line-height: 20px;
  box-sizing: border-box;

}
.icon{
  width: 92px;
  height: 76px;
  line-height: 20px;
  display: flex;
}

section{
  margin: 15px;
  text-align: center;
  width: 1100px;
  height: 500px;
  background-color: #fff;
}
form>input ,textarea{
  width: 40%;
  height: 70px;
  border: 1px solid;
  margin: 5px;
  padding-left: 10px;
  font-weight: 600;
}

.btn-edit{
  width: 41%;
  height: 70px;
  border: none;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

.btn-edit:hover{
  background-color: transparent;
  border: 1px solid;
  color: #000;
}
.btn-rechercher{
  width: 90px;
  height: 50px;
  border: none;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

.btn-rechercher:hover{
  background-color: transparent;
  border: 1px solid;
  color: #000;
}
.rechercher{
  width: 40%;
  height: 30px;
  border: 1px solid rgba(0,0,0,.1);
  margin: 5px;
  padding-left: 10px;
  font-weight: 600;
}
