<div class="container">
  <form class="example-form" #f="ngForm" (ngSubmit)="AddEnseign(f.value)">
    <h1>Nouveau Enseign</h1>
    <input class="text" #marque="ngModel" matInput [ngModel] name="marque" placeholder="Marque" required><br>
    <div class="help" *ngIf="!marque.valid && marque.touched">Ne peut pas être vide !!</div>
    <input class="text" #gmail="ngModel" type="email" matInput email name="gmail" [ngModel] placeholder="Expl.pat@example.com" required><br>
    <div class="help" *ngIf="!gmail.valid && gmail.touched">Ne peut pas être vide !!</div>
    <textarea  class="text" #adress="ngModel" [ngModel] name="adress"  required placeholder="Adresse"></textarea><br>
    <div class="help" *ngIf="!adress.valid && adress.touched">Ne peut pas être vide !!</div>
    <input class="text" #tel="ngModel" type="tel" name="tel" [ngModel] required placeholder="26034334"><br>
    <div class="help" *ngIf="!tel.valid && tel.touched">Ne peut pas être vide !!</div>
    <input  class="file" type="file" (change)="onSelectFile($event)" required [ngModel] name="photo"><br>
    <button class="btn-add" type="submit" >Ajouter</button>
  </form>
</div>
