div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
img{
  object-fit: fill;
}
mat-card{
  width: 90%;
  height: 50px;
  padding: 10px;
}
span{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  word-spacing: 0px;
  color: #192038;
}
div.polaroid {
  max-width: 350px;
  min-width: 350px;
  max-height: 250px;
  min-height: 250px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.container{
  padding-top: 100px;
  position: absolute;
}
div.polaroid:hover{
  box-shadow: 0 4px 8px 0 rgba(66, 48, 48, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


.container .button {
  width: 100%;
  left:0;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.container .button a .delete{
  text-align: center;
  color: #fd0044;
  z-index: 1;
  background-color: #fff;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  line-height: 65px;

}
.container .button a .edit{
  text-align: center;
  color: #00ffaa;
  z-index: 1;
  background-color: #fff;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  line-height: 65px;

}

.polaroid:hover .button {
  opacity: 1;
}
.material-icons{
  font-size: 50px;
}
.mat-raised-button{
  background-color: #3366ff;
  float: right;
  line-height: 50px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  word-spacing: 0px;
}
