
<div *ngIf="cartes">
  <mat-card><span>Cartes</span></mat-card>
  <div class="polaroid" *ngFor="let carte of cartes._embedded.cartes">
    <img src="{{carte.photo}}" alt="5 Terre" style="width:100%">
    <div class="container">
      <button mat-fab class="button" (click)="deleteCarte(carte.id)">
        <i class="material-icons delete">delete_forever</i></button>
      <button mat-fab  class="button" routerLink="/cartes/edit/{{carte.id}}"  >
        <i class="material-icons edit">edit</i></button><br>
    </div>

</div>


