
<div *ngIf="cartes">
  <mat-card><span>Cartes</span><button  mat-raised-button routerLink="/newcarte" routerLinkActive="router-link-active"  >Ajouter Carte</button></mat-card>
  <div class="polaroid" *ngFor="let carte of cartes._embedded.cartes">
    <img src="{{carte.nomPhoto}}" alt="5 Terre" style="width:100%">
    <div class="container">
      <span class="button"><a href="#"> <i class="material-icons delete">delete_forever</i> </a>
      <span class="button"><a href="#"> <i class="material-icons edit">edit</i> </a>

    <h1>{{carte.nom}} {{carte.prix}}$</h1>
    </span>
  </span>
</div>


