.mycontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.firstdiv{
  margin: 10px;
}
.seconddiv{
  margin: 10px;
}
mat-card{
  width: 100%;
  height: 100%;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.container{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-size: 600;
  line-height: 24px;
  text-decoration: none solid rgb(25, 32, 56);
  text-align: center;
  justify-content: center;
  word-spacing: 0px;
  background-color: #fff;
  background-position: 0% 0%;
  color: #000;
  padding: 16px 20px 16px 20px;
  min-height: auto;
  min-width: auto;
  position: relative;
  display: flex;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  height: 48px;
  margin: 32px 0 32px 0;
  box-sizing: border-box;
}




