<div class="container" *ngIf="mode =='list-ens'" >
  <div *ngIf="enseigns">
      <mat-card>
        <span>Enseigns</span>
        <input class="rechercher" type="text" [(ngModel)]="mc"/> <button class="btn-rechercher" (click)="chercher()">Chercher</button>
      </mat-card>
    <div class="test" *ngFor="let enseigne of enseigns._embedded.enseigns">
      <div class="a"><div class="icon"><img src="{{enseigne.photo}}"  style="width:100%"
         (click)="getCartes(enseigne)"></div></div>
      <div class="b"><span>{{enseigne.marque}}</span> <br><span>{{enseigne.tel}}</span></div>
      <div class="c">
        <button class="delete" mat-raised-button (click)="deleteEnseigne(enseigne.id)">
          Delete</button>
        <button class="edit" mat-raised-button (click)="onEditEnseigne(enseigne.id)">
          Edit</button>
      </div>
    </div>
  </div>
</div>

  <div class="container"  *ngIf="mode =='edit-ens'">
    <form class="example-form" #f="ngForm" (ngSubmit)="EditEnseign(f.value)">
      <h1>Nouveau Enseign</h1>

      <mat-form-field class="example-full-width">
        <mat-label>Marque</mat-label>
        <input matInput [ngModel] name="marque" placeholder="Marque" [(ngModel)]="currentEns.marque" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="gmail" [(ngModel)]="currentEns.gmail" [ngModel] placeholder="Ex. pat@example.com" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea [ngModel] name="adress" [(ngModel)]="currentEns.adress" placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+216 &nbsp;</span>
        <input type="number" name="tel" [ngModel]  [(ngModel)]="currentEns.tel" placeholder="26034334">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <button type="submit" >Confirme</button>
    </form>
  </div>





