div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

mat-card{
  width: 80%;
  height: 60px;
  padding: inherit;
  margin-bottom: 50px;
}
span{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  word-spacing: 0px;
  color: #192038;
}
.delete{
  background-color: #ff3d71;
  width: 100px;
  margin-bottom: 5px;
  color: #fff;

}
.edit{
  background-color: #00D68F;
  width: 100px;
  color: #fff;

}

.test{
  margin: 5px;
  height: 96px;
  width: 500px;
  border: 0px solid #fff;
  display: flex;
  outline: rgb(255, 0, 0);
  box-sizing: border-box;
  background-color: #fff;
}

.a{
  height: 96px;
  width: 112px;
  padding: 10px 10px 10px 10px;
  display: block;
  line-height: 20px;
  box-sizing: border-box;
}
.b{
  height: 96px;
  width: 255px;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  text-align: left;
  opacity: .5;
  font-size: 15px;
  font-weight: 300;

}

.c{
  height: 96px;
  width: 130px;
  padding: 10px;
  display: block;
  line-height: 20px;
  box-sizing: border-box;

}
.icon{
  width: 92px;
  height: 76px;
  line-height: 20px;
  display: flex;
}
.btn-rechercher{
  width: 90px;
  height: 50px;
  border: none;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

.btn-rechercher:hover{
  background-color: transparent;
  border: 1px solid;
  color: #000;
}
.rechercher{
  width: 40%;
  height: 30px;
  border: 1px solid rgba(0,0,0,.1);
  margin: 5px;
  padding-left: 10px;
  font-weight: 600;
}

.container{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-size: 600;
  line-height: 24px;
  text-decoration: none solid rgb(25, 32, 56);
  text-align: center;
  justify-content: center;
  word-spacing: 0px;
  background-color: #fff;
  background-position: 0% 0%;
  color: #000;
  min-height: 550px;
  width: 1100px;
  padding: 16px 20px 16px 20px;
  min-height: auto;
  min-width: auto;
  position: relative;
  height: 100%;

}
.text{
  width: 40%;
  height: 70px;
  border: 1px solid;
  margin: 5px;
  padding-left: 10px;
  font-weight: 600;
  text-align: left;
}
.file{
  width: 40%;
  height: 70px;
  border: 1px solid;
  margin-left: 30%;
  font-weight: 600;
  text-align: left;
}
.btn-add{
  width: 41%;
  height: 70px;
  border: none;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}

.btn-add:hover{
  background-color: transparent;
  border: 1px solid;
  color: #000;
}

h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  height: 48px;
  margin: 32px 0 32px 0;
  box-sizing: border-box;
}
.help{
  width: 40%;
  height: 30px;
  margin-left: 30%;
  font-weight: 400;
  text-align: left;
  color: red;
  background-color: rgba(255, 159, 159, 0.3);
}
